/abiword
/asunder
/audacious
/blueman
/chromium
/enchant
/evince
/gnome-mplayer
/google-googletalkplugin
/gpicview
/gtk-2.0
/gtk-3.0
/ibus
/keepass
/KeePass
/leafpad
/libfm
/lsc
/menus
/openbox
/pcmanfm
/Trolltech.conf
/update-notifier
/user-dirs.*
/vim/bundle
/vim/ftbundle
/vim/vimfiles
/vlc
/xfburn
