/abiword
/asunder
/audacious
/blueman
/chromium
/compiz-1
/enchant
/evince
/evolution
/galculator
/gedit
/gnome-control-center
/gnome-mplayer
/google-googletalkplugin
/gpicview
/gtk-2.0
/gtk-3.0
/GottCode
/ibus
/keepass
/KeePass
/leafpad
/libaccounts-glib
/libfm
/libreoffice
/lsc
/lxpanel
/lxsession
/menus
/monitors.xml*
/.mono
/nautilus
/openbox
/pcmanfm
/pulse
/signond
/software-center
/totem
/Trolltech.conf
/UITK
/update-notifier
/user-dirs.*
/vim/bundle
/vim/ftbundle
/vim/vimfiles
/vim/log
/vlc
/xfburn
/xpad
