/.mono
/Classes
/Empathy
/GottCode
/KeePass
/Scrivener
/Trolltech.conf
/UITK
/abiword
/asunder
/audacious
/autostart/chromium-browser.desktop
/autostart/dropbox.desktop
/blueman
/chromium
/compiz-1
/configstore
/dconf
/enchant
/evince
/evolution
/galculator
/gedit
/gnome-control-center
/gnome-mplayer
/google-googletalkplugin
/gpicview
/gtk-2.0
/gtk-3.0
/ibus
/keepass
/leafpad
/libaccounts-glib
/libfm
/libreoffice
/lsc
/lxpanel
/lxsession
/menus
/monitors.xml*
/nautilus
/openbox
/pcmanfm
/pulse
/signond
/software-center
/totem
/transmission
/update-notifier
/user-dirs.*
/vim/bundle
/vim/ftbundle
/vim/log
/vim/vimfiles
/vlc
/xfburn
/xfce4
/xpad
