<?
function getNotificationBackground(item) {
    if (item.image) {
        return ' class=imageButton style="background-image:url('+item.image+');background-repeat: no-repeat;" title="'+item.label+'" ';
    }
    return '';
}
function getNotificationAlert(item) {
    if (item.alert) {
        return '<img src="'+DNTP.getImageUrl('alert.png')+'" class=alert />';
    }
    return '';
}

controller.observe('abineArea', 'click', function(){
    var url = controller.fixExternalLink(DNTP.getLinkUrl('abine'));
    DNTP.openWindowInNewTab(url);
    return false;
});
controller.observe('dntmeArea', 'click', function(){
    var url = controller.fixExternalLink(DNTP.getLinkUrl('how'));
    DNTP.openWindowInNewTab(url);
    return false;
});
?>
<div id="dntpContainer">
	<div id="header">
        <img src="<?=DNTP.getImageUrl('logo.png')?>" height="16px" width="181px" style="margin-top:2px;" usemap="#logoMap"/>
		<div id="closePopup">
            <a href="#"><img src="<?=DNTP.getImageUrl('close.png')?>" height="20px" width="20px" title="Close"/></a>
		</div>
		<div id="help">
            <a class=externalLink target="_blank" href="<?=DNTP.getLinkUrl('dnt_faq')?>" title="Help">
                <img src="<?=DNTP.getImageUrl('question.png')?>" height="20px" width="20px"/>
            </a>
		</div>
        <div id="showGlobal">
            <img src="<?=DNTP.getImageUrl('settings.png')?>" height="20px" width="20px"  title="<?=_('dntp.footer.settings')?>"/>
        </div>
	</div>
	<div class="body">
		<?=parameters.body?>
	</div>
</div>
<map name=logoMap>
    <area id="abineArea" shape="rect" coords="0,0,48,16" href="#" alt="Abine Inc.">
    <area id="dntmeArea" shape="rect" coords="52,0,181,16" href="#" alt="Do Not Track Me">
</map>
<? if (parameters.notifications) {?>
<div id="notifyBar" class=am>
	<? if (parameters.notifications.length == 1) {
	    var notification = parameters.notifications[0];
	        if (notification.badTracker) {
	            notification.label = DNTP._(notification.label, notification.badTracker);
	        }
	?>
		<div id="notificationMsgs" <?=getNotificationBackground(notification)?>>
            <?=getNotificationAlert(notification)?>
            <? renderPartial('notification_link', {item:notification}); ?>
        </div>
        <? controller.addOnLoad(controller.bind(controller.verticallyCenter, notification.id)); ?>
	<?
	     if (notification.badTracker) {
	        controller.observe(notification.id, 'click', function(){
                var clickedTrackers = DNTP.Config.get('badTrackerClicked', '');
                if (!clickedTrackers) clickedTrackers = '';
                if ((","+clickedTrackers+",").indexOf(","+notification.badTracker+",") == -1) {
                    if (clickedTrackers.length > 0) clickedTrackers += ",";
                    clickedTrackers += notification.badTracker;
                    DNTP.Config.set('badTrackerClicked', clickedTrackers);
                }
                controller.openUrlInNewTab(DNTP.getLinkUrl('badTracker.'+notification.badTracker));
                return false;
	        });
	     }
	   } else { ?>
	<ul id="notificationMsgs">
		<? for (var i=0;i<3;i++) {?>
			<li <?=getNotificationBackground(parameters.notifications[i])?>>
                <?=getNotificationAlert(parameters.notifications[i])?>
                <? renderPartial('notification_link', {item:parameters.notifications[i]}); ?>
            </li>
			<? controller.addOnLoad(controller.bind(controller.verticallyCenter, parameters.notifications[i].id)); ?>
		<? } ?>
	<? } ?>
</div>
<? } ?>
<div id="productBar" class="clearfix am cb" style="margin-top:5px;">
    <a class=externalLink href="<?=DNTP.getLinkUrl('deleteme')?>" target=_blank><img src="<?=DNTP.getImageUrl('footer-del-me.png')?>" height="32px" /></a>
    <a class=externalLink href="<?=DNTP.getLinkUrl('maskme')?>" target=_blank><img src="<?=DNTP.getImageUrl('footer-mask-me.png')?>" height="32px" /></a>
</div>
<?
    controller.observe('closePopup', 'click', controller.bind(controller.close));
    controller.observe("showGlobal", 'click', controller.bind(controller.showGlobal));
    controller.addOnLoad(function(){DNTP.setTimeout(controller.bind(controller.autoSizeIframe), 200);});
?>