<?
	var id = parameters.item.id;
	var link = parameters.item.link;
	var iframe = parameters.item.iframe;
	var label = parameters.item.label;
	var plainLink = '';
	if (parameters.item.plainLink) {
	    plainLink = ' plainLink';
	}

	if (parameters.item.image) label = '';
?>
<? if (link && !iframe) {?>
	<a class="externalLink<?=plainLink?>" id="<?=id?>" target="_blank" href="<?=link?>"><?=label?></a>
<? } else if (iframe) {?>
	<a class="externalLink" id="<?=id?>" href="#"><?=label?></a>
	<? controller.observe(id, 'click', controller.bind(controller.addNotificationIframe, link)) ?>
<? } else {?>
	<a class="noLink" id="<?=id?>" href="#"><?=label?></a>
<? } ?>