<?
if (!parameters.newBadge) {
    var newTrackers = DNTP.Config.get('newTrackers', '');
    if (newTrackers && newTrackers != '') {
        newTrackers = newTrackers.split(',');
        if (newTrackers.length > 0) {
            DNTP.Config.set('newTrackers', '');
            DNTP.update_toolbar_icon();
            renderPartial('new_trackers', {newTrackers: newTrackers});
            ?><? DIE ?><?
        }
    }
}
var badges = parameters.badges, nextBadge = null;
if (0 < badges.length && badges[0].nextBadge && badges[0].nextBadge.name != 'None') {
    nextBadge = badges[0].nextBadge;
}

var suggestedUrl = controller.fixExternalLink(DNTP.getLinkUrl('recommended'));


controller.toggleTracker = function(ruleName, socialTracker, e) {
    e = e || event;
    var target = e.target || e.srcElement;
    if (target.className.indexOf('suggested') != -1) {
        controller.openUrlInNewTab(suggestedUrl);
        return false;
    }
    while (!target.className || target.className.indexOf('tracker') == -1) {
        target = target.parentNode;
    }
    if (target.getAttribute('animateProgress')) return false;
    var blocked = (target.className.indexOf('off') == -1);
    var newBlocked = !blocked;
    var self = this;
    controller.animateButton(target, newBlocked?1:-1, function(){
        target.className = target.className.replace(/on|off/, newBlocked?'on':'off');
        if (socialTracker) {
            controller.socialTrackerClicked(ruleName, {target: target});
        } else {
            controller.trackerClicked(ruleName, {target: target});
        }
    });
}
?>
<!-- allow/block -->
<? if (parameters.off || (!parameters.toggledOff && (parameters.totalTrackers > 0 || parameters.firstPartySocial))) {?>
<div id="DNTPonOffAtSite">
<? if (parameters.host && parameters.host != '') {?>
    <? if (!parameters.firstPartySocial) {?>
	<div class="topBar">
		<div class=domain>
            <?=parameters.host?><br/>
            <span style="font-size:11pt;font-style: italic;text-shadow: none;">
               <?=_(parameters.off?'is.tracking':'was.tracking')?>
            </span>
        </div>
        <? if (!parameters.off && parameters.totalTrackers > 0) {?>
        <div id=topCount class=count>
            <?=parameters.totalTrackers?>
        </div>
        <?
            controller.observe('topCount', 'click', controller.bind(controller.showAllBlocks));
           } ?>
	</div>
    <? } ?>
	<? if (parameters.totalTrackers > 0 || parameters.off) { ?>
    <div class="clearfix am">
        <div id="toggleSite" class="clearfix tracker <?=parameters.off?'off':'on'?>" style="margin-top: 8px;text-align: left;margin-left: 13px;">
            <span class="button" style="background-image: url(<?=DNTP.getImageUrl('on-off.png')?>);">
                <img src="<?=DNTP.getImageUrl('on-off-knob.png')?>" class=vm />
            </span>
            <span class="offMsg" style="width:auto;"><?=_('onoff.off.here')?></span>
            <span class="onMsg" id="toggleSiteOnMsg"
                  style="width:auto;"><?=_('onoff.on.here', parameters.blocked.length+"", _('dntp.'+(parameters.blocked.length!=1?'companies':'company')))?></span>
        </div>
    </div>
    <?
      controller.observe('toggleSite', 'click', function(e){
        var target = controller.$('toggleSite')
        if (target.getAttribute('animateProgress')) return false;
        controller.animateButton(target, parameters.off?1:-1, function(){
            var btn = controller.getButton(target);
            btn.className = btn.className.replace(/on|off/, parameters.off?'off':'on');
            controller.toggleOnOff();
        });
       }); ?>
	<? } ?>
<? } ?>
	<br class=cb />
    <?=controller.getNewVersionLink()?>
</div>
<? } ?>

<!-- OFF or toggled ON state -->
<? if (parameters.off) {?>
	<div class="am block highlight" style="margin:10px 5px;"><br/><?=_("dntp.turnedoff")?>
		<div class="blueLinks" style="line-height:12pt;">
			<?=_('dntp.turnedoff.block', '<a href=# id=blockAgain>', '</a>')?>
			<br/><br/>
	        <?=_('dntp.turnedoff.viewall', '<br/><a href=# id=allowedSites>', '</a>')?>
			<br/>
		</div>
		<? controller.observe('blockAgain', 'click', controller.bind(controller.toggleOnOff)); ?>
		<? controller.observe("allowedSites", 'click', DNTP.showAllowedSites); ?>
		<br/>
	</div>
<? } else if (parameters.toggledOff) {?>
	<div class="block highlight" style="margin:10px 5px;">
		<br/><?=_("dntp.turnedon")?>
		<br/><br/><div style="color:red;"><?=_("dntp.pleasewait")?></div><br/>
	</div>
<? } ?>

<!-- new badge -->
<? if (parameters.newBadge) {
	var badge = parameters.newBadge;
	var newBadgeName = (badge.level?badge.level+controller.getNumberSuffix(badge.level)+' ':'')+_(badge.name);
	?>
	<div id="DNTPNewBadge" class=highlight>
	    <div class="badgeText badgeIconBig badge'<?=badge.cssClass?>
	        badge<?=badge.cssClass?>Img" >
		    <div class="badgeCountBig"><?=DNTP.addCommas(badge.limit)?></div>
		    <div class="badgeTextBig"><?=_(badge.badgeText)?></div></div>
	    <div class="badgeCongrats">
		    <?=_('dntp.badge.congrats', '<br/> '+newBadgeName)?><br/><br/>
		    <span><?=DNTP.addCommas(badge.limit)?></span>
		    <?=_(badge.text)?>
	    </div>
	</div>
    <div class="am"><?=_('dntp.badge.new.share')?>:
        <a class="externalLink" target="_blank" href="<?=DNTP.getLinkUrl('badgeShare', {'where':'fb', name:newBadgeName, limit:badge.limit, 'new':1}) ?>">
            <img class=vm src="<?=DNTP.getImageUrl('fb_sm.png')?>" height="16px"/>
        </a>
        <a class="externalLink" target="_blank" href="<?=DNTP.getLinkUrl('badgeShare', {'where':'tw', name:newBadgeName, limit:badge.limit, 'new':1}) ?>">
            <img class=vm src="<?=DNTP.getImageUrl('tw_sm.png')?>" height="16px"/>
        </a>
    </div>
<? } ?>

<!-- trackers/optouts -->
<? if (!parameters.newBadge && !parameters.off) { ?>
		<? if (parameters.totalTrackers == 0 && !parameters.firstPartySocial) {?>
			<? if (!parameters.toggledOff) { ?>
				<div id="DNTPnoTrackingHere" class="clearfix">
                    <img class=sun src="<?=DNTP.getImageUrl('sun.png')?>" id=dntpClearSkies height="100px;"/>
                    <div class=text>
                        <b><?=_("clear.skies")?></b>
                        <? if (parameters.hostname) {?>
                        <br/><br/>
                        <span style="font-weight: normal;"><?=_('dntp.clearskies.thanks', parameters.host)?>
                            <a class="externalLink" target="_blank" href="<?=DNTP.getLinkUrl('noTrackingThanks', {'where':'fb', host: parameters.host}) ?>">
                                <img class=vm src="<?=DNTP.getImageUrl('fb_sm.png')?>" height="16px"/>
                            </a>
                            <a class="externalLink" target="_blank" href="<?=DNTP.getLinkUrl('noTrackingThanks', {'where':'tw', host: parameters.host}) ?>">
                                <img class=vm src="<?=DNTP.getImageUrl('tw_sm.png')?>" height="16px"/>
                            </a>
                        </span>
        			    <? } ?>
                    </div>
                </div>
			<? } ?>
		<? } else {?>
			<div id="DNTPtrackingHere">
				<? renderPartial('social_block') ?>
				<? renderPartial('tracker_block') ?>
			</div>
		<? } ?>
<? } ?>

<!-- totals -->
<? if (!parameters.skipTotals && parameters.globalTotal > 0) {
	var badge = parameters.badges[0];?>
<div class=block id="footerBlock">
	<div id="DNTPfooter" class=clearfix>
	<? if (parameters.newBadge) { ?>
		<? renderPartial('tracking_report') ?>
	<? } else {?>
		<? if(badge.name != "None") { ?>
	    <div id="latestBadge" class="badge<?=badge.cssClass?> badge<?=badge.cssClass?>Img ">
		    <div class=badgeText ><?=DNTP.addCommas(badge.limit)?></div>
	    </div>
		<? controller.observe(['latestBadge'], 'click', controller.bind(controller.renderPartialInElement, 'DNTPfooter', 'tracking_report', parameters, {newBadge: true})); ?>
		<? } ?>
		<div style="margin-top:5px;height:170px;" id="DNTPtrackingAttempts">
	        <span id="DNTPtotalBlockedIntro">
	            <?=_('funword'+parameters.funWordIndex)?>!
	        </span><?=_('dntp.alltime')?>
	        <a href="javascript:void(0);" id="trackingDetailed">
	            <span id="DNTPtotalBlocked"><?=DNTP.addCommas(parameters.globalTotal)?></span>
	            <?=_("dntp.alltimesuffix",_(DNTP.plural("dntp.attempt", parameters.globalTotal)))?>
	        </a>
            <? if (parameters.totalTrackers > 0 || parameters.firstPartySocial) {?>
            <a class="externalLink" target="_blank" href="<?=DNTP.getLinkUrl('totalShare', {'where':'fb', total:parameters.globalTotal}) ?>">
                <img class=vm src="<?=DNTP.getImageUrl('fb_sm.png')?>" height="16px"/>
            </a>
            <a class="externalLink" target="_blank" href="<?=DNTP.getLinkUrl('totalShare', {'where':'tw', total:parameters.globalTotal }) ?>">
                <img class=vm src="<?=DNTP.getImageUrl('tw_sm.png')?>" height="16px"/>
            </a>
            <?}?>
            <br style="clear:both;"/>
            <div id=chartdiv class="clearfix"></div>
            <?  if(nextBadge && (nextBadge.limit-parameters.globalTotal) > 0) { ?>
            <div id="nextBadgeMsg" style="display: none;">
               <?=_('dntp.badges.levelup.diff', DNTP.addCommas(nextBadge.limit-parameters.globalTotal),(nextBadge.level?'<br/>'+nextBadge.level+controller.getNumberSuffix(nextBadge.level)+' ':'')+_(nextBadge.name))?>
            </div>
            <? } ?>
            <a href="<?=DNTP.getLinkUrl('dntReport')?>" target="_blank" class="externalLink" id=stats style="display:none;">
                <img src="<?=DNTP.getImageUrl('stats.png')?>"/><br/>
                <?=_('my.stats')?>
            </a>
		</div>
	    <? controller.observe('trackingDetailed', 'click', controller.bind(controller.renderPartialInElement, 'DNTPfooter', 'tracking_report', parameters, {newBadge: false})); ?>
	<? } ?>
	</div>
</div>
<? }

    controller.addOnLoad(controller.bind(controller.renderChart));
?>
