body {
  background-color: #F2F5F6;
  border: 5px solid white;
  margin: 0;
  padding: 10px;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
}

#logo {
  background-image: url(../../images/web-clipper-logo.png);
  background-size: 191px 36px;
  width: 191px;
  height: 36px;
}
#logo.china {
  background-image: url(../../images/web-clipper-logo-china.png);
  background-size: 91px 45px;
  width: 91px;
  height: 45px;
}

#closeBtn {
  background-image: url(../../images/pdf_close_btn.png);
  background-size: 18px 18px;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

#pdfTip {
  margin-top: 12px;
}

.greenButton {
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  background-image: -webkit-gradient(linear, left bottom, left top,
    color-stop(1, #EFF8E6), color-stop(0, #E0EFD3));
  color: #59595B;
  padding: 6px 12px;
  border: 1px solid #BABABA; /*  This is the sheepiest color. */
  border-radius: 4px;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}
.greenButton:hover {
  background-image: -webkit-gradient(linear, left top, left bottom,
    color-stop(1, #EFF8E6), color-stop(0, #E0EFD3));
}
#tryItOut {
  position: absolute;
  margin: 0 15px 15px 0;
  bottom: 0;
  right: 0;
}

@media (-webkit-min-device-pixel-ratio: 1.5) {
  #closeBtn {
    background-image: url(../../images/pdf_close_btn@2x.png);
  }

  #logo {
    background-image: url(../../images/web-clipper-logo@2x.png);
  }
  #logo.china {
    background-image: url(../../images/web-clipper-logo-china@2x.png);
  }
}