[Desktop Entry]
Type=Application
Exec=/usr/bin/pidgin
Hidden=true
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[fr_FR]=Pidgin
Name=Pidgin
Comment[fr_FR]=
Comment=
