/**
 * NoteList
 */
.notelistSearchContainer form {
    margin-bottom: 4px;
}

.notelistSearchContainer label[for=notesSearchQuery] {
    font-size: 12pt;
}

.notelistSearchContainer label[for=notesSearchQuery]:after {
    content: ":";
}

.notelistSearchContainer input[name=notesSearchQuery] {
    font-size: 12pt;
    width: 300px;
}

#notesList,
#notesContextList {
    overflow-y: auto;
    overflow-x: hidden;
    height: 250px;
    border: 1px solid #cacaca;
    margin-top: 10px;
}

#notesList.notesListEmpty,
#notesContextList.notesListEmpty {
    border-width: 0px;
}

#notesListItems,
#notesContextListItems {
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.17); */
}

.noteListItem {
    border-width: 0px 0px 1px 0px;
    border-color: #e6e6e6;
    border-style: solid;
    /*height: 101px;*/
    background: none;
    padding: 0px;
    font-face: Helvetica, sans-serif;
    color: #333333;
    position: relative; /* We use absolute postion in child elements so we need this to be positioned. */
}

.noteListItem:hover {
  cursor: pointer;
}

.noteListItemTitle {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 4px;
    color: black;
}

.noteListItem:hover .noteListItemTitle {
  text-decoration: underline;
}

.noteListItemDate {
    display: inline;
    font-size: 8pt;
    color: #4c9ea8;
}

.noteListItemTags {
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #4c9ea8;
    font-size: 12px;
}

.noteListItemThumb {
    float: right;
    margin-left: 6px;
    width: 100px;
    height: 100px;
}

.noteListItemThumb:FIRST-CHILD {
    /*border-width: 0px;*/
    /*padding-top: 1px;*/
}

.noteThumb {
}

.noteListItem .noteThumbPlaceholder {
    width: 16px;
    height: 16px;
    padding: 25px 37px 26px 37px;
    background: white;
    -webkit-background-clip: padding;
}

.noteListItemInfo { 
    background: white;
    height: 84px;
    border: none;
    padding: 8px;
    line-height: 16px;
}

.noteListItemContent {
    max-height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.noteListItemSnippet,
.noteItemAttachmentFileName {
  display: inline;
  /*display: inline-block;*/
  font-size: 12px;
  line-height: 1 !important;
  color: #404040;
  margin-left: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 11px;
  color: #333333;
}

.noteItemAttachmentFileName {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    textOverflow: ellipsis;
    text-transform: none;
    margin-left: 0px;
    padding-top: 4px;
}

#notesListLoadingContainer,#notesListEmptyContainer,
#notesContextListLoadingContainer,#notesContextListEmptyContainer {
    width: 100%;
    height: 100%;
}

#notesListLoadingIndicator,#notesListEmptyIndicator,
#notesContextListLoadingIndicator,#notesContextListEmptyIndicator {
    color: #696969;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    padding-top: 100px;
}

.notelistSearchTable {
    padding: 0px;
    margin: 0px;
    /*width: 100%;*/
    width: 460px;
    border-spacing: 0px;
}

.notelistSearchTable td {
    padding: 0px 0px 0px 2px;
    margin: 0px;
    text-align: center;
    min-width: 10px;
}

.notelistSearchTable td:first-child {
    text-align: left;
    padding: 0px 2px 0px 0px;
    width: 100%;
}

.notelistSearchTable input[type=submit] {
    font-size: 12pt;
}

.notelistSearchQuery {
    width: 100% !important;
    /*opacity: 0.9;*/
    font-size: 10pt;
    padding: 2px;
    -webkit-box-sizing: border-box;
}

#notesContextListTitle {
  padding: 2px 0px 10px 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 11pt;
}

.notelistSearchPrefix {
  position: absolute;
  top: 25px;
  left: 22px;
  max-width: 140px;
  background-color: #fbed73;
  padding: 0px 4px;
  margin: 0px;
  font-size: 10pt;
  font-weight: bold;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.notelistSearchPrefix:after {
  content: ":";
}

.moreNotesContainer {
  border: 0;
  text-align: center;
  padding: 8px;
}
