/**
 * Simple options table.
 * User on the options page.
 * It is basically a two column table with the first column listing the label for the option
 * and the second column listing options...
 */
table.simpleOptions {
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #edf6f7;
  margin-bottom: 16px;
  width: 100%;
  table-layout: fixed;
}

table.simpleOptions td {
  width: 30%;
  vertical-align: top;
  padding: 8px 0px;
}

table.simpleOptions td+td {
  width: 70%;
}

table.simpleOptions td label {
  font-weight: bold;
}

table.simpleOptions td+td label {
  font-weight: normal;
}

table.simpleOptions tr.coupledRow td {
  padding: 2px 0px;
}

#versionInfo {
  margin-top: 12px;
  font-size: 10px;
}
body.options {
  background: #f2f5f6;
  width: auto !important;
}

body.options h2 {
  display: block;
  text-align: center;
  margin: 4px 0px;
  font-size: 16pt;
  font-weight: bold;
  color: #333;
}

#submitMessage {
  padding: 2px;
  font-weight: bold;
}

#submitMessage.success {
  background: yellow;
  color: black;
}

#submitMessage.error {
  background: red;
  color: white;
}

#optionsHeader {
  text-align: center;
  margin-bottom: 12px;
}

.copyright {
  text-align: center;
  padding-bottom: 20px;
}

select {
  width: 200px;
}

label {
  padding-right: 10px;
}

.optionsDescription {
  color: #696969;
  font-size: 9pt;
}

.radioGroup label {
  padding-left: 4px;
  padding-right: 4px;
}

input[type=submit], button {
  color: black;
}
input[disabled], button[disabled] {
  color: #696969;
}

/**
 * OptionsView
 */
#optionsView {
  width: 600px;
}

input[type=checkbox] {
  float: left;
  margin-right: 0.66em;
  margin-bottom: 2.5em;
}

.vignette {
  background: white;
  margin: 40px auto 20px auto;
  padding: 6px;
  -webkit-border-radius: 6px;
  -webkit-box-shadow: 2px 2px 6px 1px #999;
}

.vignetteContent {
  padding: 18px;
}

#savingContainer {
  -webkit-border-radius: 10px;
  padding: 6px;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: rgba(18, 17, 16, 0.6);
  -webkit-transition: all 250ms linear;
}
#savingContainer.invisible {
  visibility: hidden;
  opacity: 0;
}
#savingContainer.visible {
  visibility: visible;
  opacity: 1;
}

#saving {
  background-color: #33312D;
  color: #FFFFFF;
  font-size: 13px;
  -webkit-border-radius: 4px;
  padding: 6px 25px;
}

#clientSelectionDescription {
  display: none;
}

#legal {
  display: none;
}
#legal .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
#legal .frame {
  position: fixed;
  height: 70%;
  width: 50%;
  top: 15%;
  left: 25%;
  background-color: white;
  border: 1px solid #BABABA;
  border-radius: 1px;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.75);
  font-size: 12px;
  color: black;
  min-width: 505px;
}
#legal .title {
  font-size: 17px;
  font-weight: bold;
  margin: 30px 20px 15px;
}
#legal .close {
  background-image: url(../images/X-icon_default.png);
  background-repeat: no-repeat;
  background-size: 9px 9px;
  width: 9px;
  height: 9px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
#legal .close:hover {
  background-image: url(../images/X-icon_hover.png);
}
#legal .license {
  margin: 0 20px 10px;
}
#legal .license span {
  text-align: center;
  display: block;
}
#licenseContainer {
  overflow-y: auto;
  position: absolute;
  top: 72px;
  bottom: 10px;
}
@media (-webkit-min-device-pixel-ratio: 1.5) {
  #legal .close {
    background-image: url(../images/X-icon_default@2x.png);
  }
  #legal .close:hover {
    background-image: url(../images/X-icon_hover@2x.png);
  }
}