/**
 * TabbedView
 */
.tabbedView .tabButtons {
    z-index: 400; 
}
.tabbedView .tabViews {
    z-index: 300;
}
.tabbedView .tabButtons .tabButton,
.tabbedView .tabButtons .tabButton.closed {
    display: inline-block;
    -webkit-box-sizing: border-box;
    text-align: center;
    border-color: #d9d9d9;
    border-style: solid;
    border-width: 1px 0px 1px 0px;
    padding: 6px 10px;
    margin: 0px;
    float: left;
    font-size: 11px;
    background-color: white;
    -webkit-box-shadow: 0px 1px 0px white;
    color: #696969;
    text-decoration: none;
    width: 50%;
    -webkit-user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    outline: none;
}
.tabbedView .tabButtons .tabButton:hover {
  cursor: pointer;
}
.tabbedView .tabButtons .tabButton:FOCUS {
  color: #0c6c9c;
  text-decoration: underline;
}
.tabbedView.closed .tabButtons .tabButton {
  border-width: 1px 1px 1px 0px;
}
.tabbedView.closed .tabButtons .tabButton:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(237,242,241)), color-stop(1, rgb(247,247,247)));
  text-decoration: none;
}
.tabbedView.open .tabButtons .tabButton:hover {
  text-decoration: none;
}
.tabbedView.open .tabButtons .tabButton.closed {
    opacity: 0.5; 
    border-width: 1px;
    -webkit-border-bottom-left-radius: 0px !important;
    -webkit-border-bottom-right-radius: 0px !important;
}
/* pasha: this implementation creates deliberate gap between opened tab buttons which looks funny and therefore disabled
.tabbedView.open .tabButtons .tabButton.closed {
    opacity: 0.5; 
    margin-left: 1%;
    margin-right: 1%;
    width: 48%;
    border-width: 1px;
    -webkit-border-radius: 4px;
}
.tabbedView.open .tabButtons .tabButton.open {
  margin-left: 0%;
  margin-right: 0%;
  width: 50%;
}
.tabbedView.open .tabButtons .firstTabButton.closed {
  margin-left: 0%;
  margin-right: 0.8%;
  width: 49.2%;
}
.tabbedView.open .tabButtons .lastTabButton.closed {
  margin-left: 0.8%;
  margin-right: 0%;
  width: 49.2%;
}
.tabbedView .tabButtons .tabButton.open {
  padding-bottom: 12px;
  border-bottom-width: 0px;
  border-bottom-color: white;
  border-width: 1px 1px 0px 1px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-box-shadow: none;
}
*/
.tabbedView .tabButtons .tabButton.open {
  padding-bottom: 7px;
  border-bottom-width: 0px;
  border-bottom-color: white;
  border-width: 1px 1px 0px 1px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-box-shadow: none;
  color: #0c6c9c;
  font-weight: bold;
}
.tabbedView .tabButtons .firstTabButton {
    border-left-width: 1px !important;
    -webkit-border-top-left-radius: 4px !important;
    -webkit-border-bottom-left-radius: 4px !important;
}
.tabbedView .tabButtons .firstTabButton.open {
    -webkit-border-bottom-left-radius: 0px !important;
    -webkit-border-top-right-radius: 4px !important;
}
.tabbedView .tabButtons .lastTabButton {
    border-right-width: 1px !important;
    -webkit-border-top-right-radius: 4px !important;
    -webkit-border-bottom-right-radius: 4px !important;
}
.tabbedView .tabButtons .lastTabButton.open {
    -webkit-border-bottom-right-radius: 0px !important;
    -webkit-border-top-left-radius: 4px !important;
}
.tabbedView .tabSeparator {
  clear: both;
}
.tabbedView .tabViews .tabView {
  background-color: white;
  border-color: #d9d9d9;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  display: none;
  margin-top: -1px;
  padding: 10px;
}
.tabbedView .tabViews .tabView.open {
  display: block;
  border-top-width: 1px;
}
.tabbedView .tabViews .tabView.closed {
  display: none;
}
