/* Reset */

*, html, body, div, span, ul, ol, li, a, img, p, h1, h2, h3 {
    padding: 0;
    margin: 0;
    border: none;
    color: black;
    background: transparent;
}

body {background: #F8F8F5; padding-top: 2em;}


a, a:hover, a:visited {
    text-decoration: none;
    color: black;
}

.center-fill {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}

#main-container {
    margin: auto !important;
    width: 520px;
    padding: 4px;
    background: #FFF;
}

#logo {margin: .6em auto 0; display: block;}

.inner {border: 1px solid #DCD9D5; padding: 30px 40px;}

#main-container img {margin: 0 auto; display: block}

#options-box {border: 3px solid #cdd7e3; background: url(../img/bg_options.png); padding: 15px 0 7px}

div.option {
    padding-bottom: 15px;
    position: relative;
    overflow: hidden
}

#how {
	text-align: center;
	font-size:1.2em;
	color: #3d3d3d;
	margin:1em 0 .5em;
	}

    div.option h2 {
        display: block;
        font-weight: normal;
        padding-bottom: 5px;
        float: left;
        display: inline-block;
        width: 150px;
        text-align: right;
        font-size:1.2em;
        padding:6px 7px 0 0 ;
    }

    /* options must be set to position relative */
    div.option ul.overlays {
        position: absolute;
        right: 63px;
        bottom: 26px;
    }
        ul.overlays > li {
            display: inline-block;
            color: rgba(0, 0, 0, .5);
            padding-left: 3px;
        }

        li.clear-shortcut {
            cursor: pointer;
        }

        ul.overlays > li.show-on-hover,
        ul.overlays > li.show-on-active {
            display: none;
        }

        /* Overlays to hide on hover */
        ul.overlays:hover > li.show-on-hover,
        ul.shortcut-bar:hover + ul.overlays > li.show-on-hover {
            display: inline-block;
        }

        /* Overlays to show on hover, but not active */
        ul.overlays:hover > li.hide-on-hover,
        ul.shortcut-bar:hover + ul.overlays > li.hide-on-hover,
        div.option.active ul.overlays > li.hide-on-hover,
        div.option.active ul.overlays > li.hide-on-active,
        div.option.active ul.overlays > li.show-on-hover { /* Hide on active */
            display: none;
        }

        /* Overlays to show on active only */
        div.option.active ul.overlays > li.show-on-active {
            display: inline-block;
        }

    ul.shortcut-bar {
        display: block;
        background: #FFF;
        cursor: pointer;
        padding: 8px;
        float: left;
        width: 170px;
        border: 1px solid #cdd7e3;
    }

    div.option.active ul.shortcut-bar {
        margin-top: 0;
        margin-bottom: 0;
        border-color: #999;
    }
    
    ul.overlays > li.hide-on-active.clear-shortcut {
    	display: block; background: url(../img/close.png);
    	width: 17px;
    	height: 16px;
    	text-indent: -99em;
    	margin: 0;
    	opacity: .8;
    	padding: 0;
    }
    	
    	ul.overlays > li.hide-on-active.clear-shortcut:hover {
    		opacity: 1;
        }

        ul.shortcut-bar li{
            display: inline-block;
            padding-right: 5px;
            color: #222;
        }

            ul.shortcut-bar li.modifier span,
            ul.shortcut-bar li.disabled span {
                color: #666;
            }

            ul.shortcut-bar li.disabled span {
                font-style: italic;
            }
