body {
    overflow: hidden;
    background-color: transparent;
}

#thePopup {
    position: static;
    top: auto;
    left: auto;
}

#newVersionDiv {
    text-align:center;
    margin-bottom:5px;
}

#newVersionLink {
    color: red;
}

.badgeBronzeImg, .badgeSilverImg, .badgeGoldImg, .badgePlatinumImg { background-image: none; }

.badgeBronzeImg { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../chrome/content/themes/light/images/badge/bronze.png',sizingMethod='scale'); }
.badgeSilverImg { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../chrome/content/themes/light/images/badge/silver.png',sizingMethod='scale'); }
.badgeGoldImg { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../chrome/content/themes/light/images/badge/gold.png',sizingMethod='scale'); }
.badgePlatinumImg { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../chrome/content/themes/light/images/badge/platinum.png',sizingMethod='scale'); }


.badgeText { font-family:arial;}

.badgeText .badgeCountBig {
    font-size:24px;
}

.badgeText .badgeTextBig {
    font-size:12px;
    padding-top: 3px;
}

.badgeText .badgeCountSmall {
    padding-top:29px;
    font-size:8px;
}
