#diigoComboSearch{margin-left:0px;margin-bottom:10px;background-color:#eceff5; border-radius:5px; padding:5px; font: normal 16px/32px arial;}
#diigoComboSearch img{float: left; margin-right:7px;}
#diigoComboSearch strong{}
#diigoComboSearch a{color:#707070; text-decoration:none;}
#diigoComboSearch a span{display:none;}
#diigoComboSearch a[target="_blank"]:hover{color:#000; text-decoration:none;}
#diigoComboSearch a.searcho a{color:blue;}
#diigoComboSearch a.searcho a:hover{text-decoration:underline}
#diigoComboSearch a strong{font-weight:normal; color:#0044cc;}
#diigoComboSearch a:hover strong{}
#diigoComboSearch a:hover span{display:inline;}
#diigoComboSearch a.searcho{float:right;margin-right:10px;}
#diigoComboSearchSettings{float:right; width:16px; height:16px; background:left top no-repeat; cursor:pointer; margin:9px 5px 0 0;}
#diigoComboSearchSettings:hover{background-position:-16px 0;}
