.pns_hidden {
  display: none;
}
.pns_hidden_onsite {
  display: none;
}
.pns_lightbox_content_social_settings {
  display: none;
}

.pns_negotiate_button {
  font-family: Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
  float: right;
white-space: nowrap;
margin-top: 15px;
margin-bottom: 5px;
margin-right: 50px;

width: 140px;
height: 30px;
line-height: 30px;
border-style: solid;
border-width: 1px;
cursor: pointer;
text-align: left;
text-decoration: none;
padding: 0px;
font-size: 16px;
font-weight: normal;
color: white;
background-color: #EE8C01;
border-color: #B95903 #EE8C01 #FF9E01 #EE8C01;
background-image: -webkit-linear-gradient(#F3AD01,#EE8C01);
border-radius: 3px;
text-transform: none;
}
.pns_negotiate_button:hover {
border-color: #880100 #B95903 #FF9E01 #B95903;
/*background-image: -webkit-linear-gradient(#FF9E01,#F8A104);*/
background-image: -webkit-linear-gradient(#F3AD01,#F3AD01);
}
.pns_negotiate_button img {
  position: relative;
  display: inline;
  top: 5px;
  border-right: 1px solid #FFFFFF;
  padding-left: 7px;
  padding-right: 5px;
  margin-right: 9px;
}


/* lightbox */
.pns_lightbox_container_border {
  font-family: Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
  display: none;
/*  overflow:hidden;*/
  z-index: 10200;
  position: fixed;
  top: 20%;
  left: 40%;
  border: 1px solid #333333;
  border-color: #333333 #555555 #999999 #555555;
  background-color: #333333;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(0,0,0,0.2);
}
.pns_lightbox_container {
  display: none;
  font-family: Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
  z-index: 10201;
  position: relative;
  width: 400px;
  background-color: #EEEEEE;
  padding: 0px;
}
.pns_lightbox_container_bg {
  display: none;
  z-index: 10100;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: .4;
  background-color: #000000;
}
.pns_lightbox_close {
  display: inline-block;
  z-index: 10202;
  position: relative;
  float: right;
  top: -15px;
  right: -15px;
  margin-right: 0px;
  height: 30px;
  width: 30px;
  overflow: hidden;
}
.pns_lightbox_close:hover {
  cursor: pointer;
}
.pns_lightbox_close img {
  position: relative;
  top: 0px;
}
.pns_lightbox_close img:hover {
  top: -30px;
}
.pns_lightbox_content_cancel_text {
  width: 50px;
  position: relative;
  top: 20px;
  color: #6699BB;
}
.pns_lightbox_content_cancel_text:hover {
  color: #336699;
  cursor: pointer;
}
.pns_lightbox_content {
 display: none;
  width: 100%;
  margin-top: 0px;
  text-align: left;
  color: #777777;
  background: #EEEEEE;
  padding-bottom: 15px;
}
.pns_lightbox_content_header_logo {
  font-size: 20px;
  color: #555555;
  margin-bottom: 15px;
  background-color: #FFFFFF;
  width: 100%;
  height: 70px;
}
.pns_lightbox_content_header_logo img {
  margin-left: 15px;
  margin-top: 8px;
}
.pns_lightbox_content_header {
  font-size: 24px;
  font-weight: normal;
  color: #777777;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #DDDDDD;
}
.pns_lightbox_content_results {
  font-size: 12px;
  line-height: 18px;
  color: #999999;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
}
.pns_lightbox_content_results_left {
  text-align: right;
  width: 190px;
  margin-right: 10px;

}
.pns_lightbox_content_results_right {
  float: right;
  width: 170px;
  text-align: left;
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #CCCCCC;
}
.pns_lightbox_content_results_line {

}
.pns_lightbox_content_results_space {
    height: 10px;
}
.pns_lightbox_content_results_space_bottom {
    height: 20px;
}
.pns_lightbox_content_results_highlight {
    display: inline;
    font-weight: bold;
    font-size: 14px;
}
.pns_lightbox_content_results_line_trying {
  text-align: center;
  padding-top: 10px;
  padding-right: 10px;
}
.pns_lightbox_content_results_line_trying img {
  margin-right: 5px;
  position: relative;
  top: 3px;
}
.pns_lightbox_content_button {
white-space: nowrap;
width: 150px;
height: 30px;
line-height: 30px;
border-style: solid;
border-width: 1px;
cursor: pointer;
text-align: center;
text-decoration: none;
padding: 0px;
font-size: 16px;
font-weight: normal;
margin-top: 20px;
margin-bottom: 20px;
margin-left: 120px;
color: white;
background-color: #EE8C01;
border-color: #B95903 #EE8C01 #FF9E01 #EE8C01;
background-image: -webkit-linear-gradient(#F3AD01,#EE8C01);
border-radius: 15px;
text-transform: none;
}
.pns_lightbox_content_button:hover {
border-color: #880100 #B95903 #FF9E01 #B95903;
/*background-image: -webkit-linear-gradient(#FF9E01,#F8A104);*/
background-image: -webkit-linear-gradient(#F3AD01,#F3AD01);
}
.pns_lightbox_content_loading {
  margin-top: 25px;
  margin-left: 190px;
}
.pns_lightbox_content_results_progressbar_outer {
  display: block;
  width: 100%;
  height: 30px;
  background-color: #CCCCCC;
  border-top: 1px solid #AAAAAA;
  border-bottom: 1px solid #EEEEEE;
  border-right: 1px solid #BBBBBB;
  border-left: 1px solid #BBBBBB;
  border-radius: 5px;
}
.pns_lightbox_content_results_progressbar_inner {
  display: inline-block;
  width: 0%;
  height: 28px;
  background-color: #F8A104;
background-image: -webkit-linear-gradient(#F8A104,#B95903);
  border: 1px solid #CCCCCC;
  float: left;
  opacity: .8;
  border-radius: 5px;
}
.pns_lightbox_content_social_cont {
  height: 25px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #EEEEEE;
}
.pns_lightbox_content_social_settings {
  float: left;
  height: 30px;
  width: 30px;
  overflow: hidden;
}
.pns_lightbox_content_social_twitter {
  float: right;
  height: 30px;
  width: 30px;
  overflow: hidden;
}
.pns_lightbox_content_social_facebook {
  float: right;
  margin-right: 5px;
  height: 30px;
  width: 30px;
  overflow: hidden;
}
.pns_lightbox_content_social_message {
  float: right;
  margin-right: 5px;
  line-height: 30px;
  font-size: 13px;
  color: #999999;
}
.pns_lightbox_content_social_settings:hover, .pns_lightbox_content_social_twitter:hover, .pns_lightbox_content_social_facebook:hover {
  cursor: pointer;
}

.pns_lightbox_content_social_settings img, .pns_lightbox_content_social_twitter img, .pns_lightbox_content_social_facebook img {
  position: relative;
  top: 0px;
}
.pns_lightbox_content_social_settings img:hover, .pns_lightbox_content_social_twitter img:hover, .pns_lightbox_content_social_facebook img:hover {
  top: -30px;
}