
/* SMALL */

.noteBlock {
  font-family: Helvetica;
  cursor: pointer;
  position: relative;
}

.noteBlock h1 {
  margin: 0px 0px 7px 0px;
  font-size: 13px;
  line-height: 15px;
  height: 30px;
  overflow: hidden;
}

.noteBlock p {
  margin: 0px;
  font-size: 11px;
  line-height: 16px;
  color: #808080;
}

.noteBlock p.date {
  color: #518C94;
  font-style: italic;
}

.noteBlock p.snippettext {
  height: 112px;
  overflow: hidden;
}

.noteBlock p.mixed {
  height: 48px;
  overflow: hidden;
}

.noteBlock img {
  max-width: 110px;
  max-height: 110px;
  margin-top: 1px;
  margin-bottom: 0px;
}

.noteBlock img.smallimage {
  max-width: 60px;
  max-height: 60px;
  margin-top: 3px;
}

.notebookName, .contactName {
  font-family: Helvetica;
  font-size: 13px;
  color: #ADACAC;
  font-weight: bold;
  text-shadow: 0 1px rgba(255, 255, 255, 0.75);
  margin: 3px 0 0 2px;
  padding-left: 21px;
  background-position-x: 6px;
  background-repeat: no-repeat;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 120px;
}

.notebookName {
  background-image: url(../../images/notebook.png);
  background-size: 11px 12px;
  background-position-y: 1px;
}

.contactName {
  background-image: url(../../images/head_shoulders.png);
  background-size: 10px 11px;
  background-position-y: 2px;
}

/* LAYOUT */

.noteBlock {
  width: 136px;
  height: 180px;
  background-color: white;
}

.noteBlock div.snippet {
  width: 110px;
  margin-left: -1px;
  padding: 6px 10px 0px 10px;
  float: left;
  position: absolute;
}

/* LINES */

.noteBlock div.gridheader {
  height: 38px;
  border-bottom-color: rgba(252, 66, 8, .2);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.noteBlock div.gridbody {
  height: 15px;
  border-bottom-color: rgba(93, 196, 243, .2);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.noteBlock div.leftmargin {
  height: 180px;
  position: relative;
  left: 10px;
  float: left;
  border-left-color: rgba(93, 196, 243, .2);
  border-left-style: solid;
  border-left-width: 1px;
}

@media (-webkit-min-device-pixel-ratio: 1.5) {
  .notebookName {
    background-image: url(../../images/notebook@2x.png);
  }

  .contactName {
    background-image: url(../../images/head_shoulders@2x.png);
  }
}